.work-row {
    font-size: 0.8rem;;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #EAEEF4;
}

input:focus,
input:active {
  border-color: transparent;
  background-color: white;
}

.work-row-new {
  background-color: #89af3c87;
}

.work-row-new input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: transparent;
}