header {
    background-color: #EFF8FE;
}

.header-logo{

    width: 20%;
    height: auto;
}

.header-name{ 
    background-color: #0963ad69;
    font-weight: bold;
    color: #073860;
}

.rmr_dropdown {
    background-color: #EFF8FE;
    border-color: #0963ad69;
    color:#0963AD;
    font-weight: bold;
}

.rmr_dropdown:hover {

    background-color: #0963AD;
    border-color: #0963AD;
    color:#EFF8FE;
    font-weight: bold;
}

.rmr_dropdown:active {

    background-color: #0963AD;
    border-color: #0963AD;
    color:#EFF8FE;
    font-weight: bold;
}

.rmr_dropdown:focus {

    background-color: #0963AD;
    border-color: #0963AD;
    color:#EFF8FE;
    font-weight: bold;
}