.wd-button {
    background-color: #89af3c;
    border-color: #89af3c;
    border-width: 0px;
    border-radius: 10px;
    color:#FFFFFF;
    font-weight: bold;
}

.wd-button:hover{
    color:#89af3c;
    background-color: #FFFFFF;
    box-shadow: 1px 0px 15px #0963ad69;
}

.wd-button-icon {
    font-size:2em;
}

