body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bootstrap-overrides button {

  background-color: #78B22B;
  border-color: #78B22B;
  color:white;
  font-weight: bold;
}
